[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/themes/anatole"]
	path = themes/themes/anatole
	url = https://github.com/lxndrblz/anatole.git
